<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up - Netflix</title>
    <link rel="icon" type="image/png" href="/static/images/Netflix_N.png">
    <link href="/static/styles.css" rel="stylesheet">
</head>
<body class="auth-body">
    <div class="auth-header">
        <a href="/">
            <img src="/static/images/netflix_logo.svg" alt="Netflix" class="nav-logo">
        </a>
    </div>

    <div class="auth-overlay">
        <div class="login-box">
            
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="flash-message">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            <h1>Sign Up</h1>
            <form method="POST" action="/signup">
                <input type="text" name="name" class="auth-input" placeholder="Your Name" required>
                <input type="email" name="email" class="auth-input" placeholder="Email Address" required>
                <input type="password" name="password" class="auth-input" placeholder="Password" required>
                
                <button type="submit" class="btn-submit">Sign Up</button>
            </form>
            
            <div class="auth-subtext">
                Already have an account? <a href="/login">Sign in now</a>.
            </div>
        </div>
        
        <div class="login-footer">
            <div class="footer-content">
                <p class="contact-text">Questions? Call 000-800-040-1843</p>

                <div class="footer-links login-links">
                    <a href="#">FAQ</a>
                    <a href="#">Help Centre</a>
                    <a href="#">Terms of Use</a>
                    <a href="#">Privacy</a>
                    <a href="#">Cookie Preferences</a>
                    <a href="#">Corporate Information</a>
                </div>
            
                <div class="lang-selector">
                    <i class="fas fa-globe"></i>
                    <select>
                        <option>English</option>
                        <option>Hindi</option>
                    </select>
                    <i class="fas fa-caret-down"></i>
                </div>
            </div>
        </div>
    </div>
</body>
</html>